@model Asobu.ViewModels.Games.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>

@Html.ActionLink("Create New Game", "New", "Games", null, new { @class = "btn btn-primary" })

<table class="table table-­bordered table-­hover">
    <tr>
        <th>
            Title
        </th>
        <th>
            Genre
        </th>
    </tr>
    @foreach (var game in Model.Games)
    {
        <tr>
            <td>
                @Html.ActionLink(game.Title, "Edit", "Games", new { id = game.Id }, null)
            </td>
            <td>
                @{ 
                    string genre = "None";
                    if (game.Genre != null)
                    {
                        genre = game.Genre.Name;
                    }
                }
                @genre
            </td>
        </tr>
    }
</table>