@model Asobu.Models.Player
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details for: @Model.Username</h2>
<ul>
    <li>
        Membership Type: @Model.MembershipType.Name
    </li>
    @if(Model.Birthdate != null)
    {
        <li>
            @Model.Birthdate.GetValueOrDefault().ToString("yyyy/MM/dd")
        </li>
    }
</ul>