@model Asobu.ViewModels.Players.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Players</h2>

@Html.ActionLink("Create New Player", "New", "Players", new { @class = "btn btn-primary" })

<table class="table table-­bordered table-­hover">
    <tr>
        <th>
            Username
        </th>
        <th>
            Membership Type
        </th>
    </tr>
    @foreach (var player in Model.Players)
    {
        <tr>
            <td>
                @Html.ActionLink(player.Username, "Edit", "Players", new { id = player.Id }, null)
            </td>
            <td>
                @player.MembershipType.Name
            </td>
        </tr>
    }
</table>